name: Update Version

on:
  push:
    branches:
      - master

jobs:
  update-version:
    name: Update Version
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          java-version: 1.8  # Replace with your desired Java version
          distribution: 'adopt'

      # replace version.txt with the version used in the POM file
      - name: Update Version File
        run: |
          mvn help:evaluate -Dexpression=project.version -q -DforceStdout > version.txt 
      - name: Commit and Push Changes
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add version.txt
          git commit -m "Update version.txt"
          git push
